.fluid-container-v1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}



.fluid-container-v2 {
    width: 100%;
    max-width: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    margin: auto;
    margin-right: auto;
}


.d-show {
    transform: none;
}



@media screen and (min-width: 48em) {
    .fluid-container-v1 {
        width: 100%;
        display: grid;
        grid-template-columns: 75% 25%;
        padding: 1.5rem 3rem;
        gap: 1rem;
    }

    .d-show {
        transform: translateY(0);
    }
}

