.hero {
  height: 70vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.25rem;
  align-items: center;
  text-align: center;
  gap: .5rem
}

.hero-illustration {
  width: 100%;
  max-width: 350px;
}

.hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;

  & h1 {
    line-height: 2.5rem;
  }

  & .get-started {
    cursor: pointer;
  }
}

@media screen and (min-width: 48em) {
  .hero {
    flex-direction: row-reverse;
    text-align: left;
  }

  .hero-illustration {
    max-width: 425px;
  }

  .hero-content {
    width: 100%;
    max-width: 425px;
    align-items: unset;
    
    & h1 {
      line-height: 4rem;
    }
  }
}



@media screen and (min-width: 90em) {
  .hero {
    height: 60vh;
    flex-direction: row-reverse;
    text-align: left;
    gap: 4rem;
    padding: 0 3.25rem;
  }

  .hero-illustration {
    max-width: 725px;
  }

  .hero-content {
    width: 100%;
    max-width: 625px;
    align-items: unset;

    & h1 {
      line-height: 6rem;
    }
  }
}