.started {
  width: 100%;
  background-color: var(--clr-dark-violet);
  background-image: url(./images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-left: auto;
  margin-right: auto;
}



@media screen and (min-width: 48em) {
  .started {
    width: 100%;
    background-color: var(--clr-dark-violet);
    background-image: url(./images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
}